{% extends "skeleton.html" %}
{% block meta %}
    <title>Register</title>
    <style>
        .judul-form{
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        .badan{
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            margin-left:100px;
        }
        h1{
            font-family:Arial;
            color:#000000;
            font-size:200%;
        }
        .container{
            width:100%;
            font-family: Arial,'Montserrat', Helvetica, sans-serif;
            display : flex;
            flex-direction: column;
            align-items:center;
            background-color:#EEEEEE;
            padding:20px;
        }
        .submit{
            border-radius:4%;
            padding:1% 5% 1% 5%;
            border:0px;
            background-color:#8EC63F;
            color:#FFFFFF;
        }
    
        .form{
            display : flex;
            flex-direction: column;
            justify-content:center;
            margin-bottom:10%;
            color:#071E22;
            font-size:14px;
        }
    
        input{
            border-radius:5%;
        }
    
        body{
            background-color:#FCFBFB;
        }
    
    
    </style>
{% endblock meta %}

{% block content %}
    
    <div class="badan">
        <div class="judul-form">
            <div class="Register">
                <h1> Register </h1>
            </div>
            <div class = "container">
                    <form  method="POST" class="form">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type = "submit" value="Register" class="submit" name="submit">
                    </form>
                {% for m in messages %}
                    <p>{{m}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}